html
  head
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    title= 'Jacob Hoard'
  body
  include ../head.pug
  div.homeDiv.center
    h1.titleMain= message