doctype html
html
  head
    link(rel='stylesheet', href='css/software/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    title= 'Jake Hoard'
  body
    include ../head.pug
    .homeImg.container-fluid
      .homeDiv.center.container
        h1.titleMain.cenX= "CODE REPOSITORY"
        .row.rowBackSS
        h3.subTitle= "JAVA | C# | WEB DESIGN"