doctype html
html
  head
    link(rel='stylesheet', href='css/software/style.css')
    title= 'Jacob Hoard'
  body
    a(class='button', href='//localhost:3000/') Home
    h1= 'Software Projects'
    img(src="images/coding.jpg", alt="coding block")
    h3= 'Java | C# | Javascript'