nav#global-nav.navbar.navbar-expand-lg.toggle-height
      .container
        a.navbar-brand.scrollN(href='/') Jake Hoard
        button.navbar-toggler.custom-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon.custom-toggler
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li
              a.nav-link.scrollN(href='/projects') Software
            li
              a.nav-link.scrollN(href='/contact') Contact
